@import url("main.css");

#sec01{
	height: 300px;
	width: 100%;
	transition-duration: 8s;
	background-image: url("../img/top_img.jpg");
	background-position: bottom;
}

.card{
	text-align: center;
	margin-bottom: 20px;
}

.card a:hover{
	cursor: default;
}

.card img{
	width: 80%;
	height: 80%;
	border-radius: 50%;
	filter: grayscale(100%);
	transition-duration: .5s;
}

.card span{
    color: #395359;
}

#lst-works{
	margin-bottom: 50px;
}

@media screen and (max-width: 590px) {
	.card {
		position: relative;
	}

	.card span{
	    position: absolute;
	    padding: 0 10vw;
	    height: 40%;
	    width: 60%;
	    top: 60%;
	    left: 9%;
	    background: #fff;
	    opacity: 0.9;
	}
}

@media screen and (min-width: 590px) {
	.card{
		height: 27vw;
		width: 27vw;
		float: left;
		margin: 0 2.6vw;
	}

	.card img:hover{
		width: 95%;
		height: 95%;
		filter: grayscale(0%);
	}

	.card span{
		display: block;
	}
}