@import url("main.css");


.card{
	float: left;
	margin: 0 10px 10px 10px;
}

.card img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	filter: grayscale(100%);
}

.card img:hover{
	filter: grayscale(0%);
}