header,footer{
	text-align: center;
}

header h1{
	font-weight: normal;
	font-size: 40px;
}

header h1:hover, header li:hover{
	background-color: #dfdfdf;
	color: white;
}

header a{
	display: block;
	width: 100%;
	text-decoration: none;
}

header a:visited{
	color: inherit;
}

header a:hover{
	color: white;
}

header ul{
	padding-left: 0;
}

header li{
	float: left;
	display: inline-block;
	margin: 0 auto;
	min-width: 100px;
	width: 25%;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.container {
	width: 90%;
	margin: 30px auto;
}

footer{
}